// Flexible Grid System 5.3.0 | Scss Plus | MIT License | flexible.gs

@mixin wrap($col: null) {
  @if $col == null {
    display: block;
    width: 100%;
    font-size: 0;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    > * {
      display: inline-block;
      width: 100%;
      min-height: 1px;
      font-size: 1rem;
      vertical-align: middle;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  @else if $col == normal {
    display: block;
    table-layout: auto;
    -webkit-flex-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -webkit-flex-wrap: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    -webkit-justify-content: initial;
    -ms-justify-content: initial;
    justify-content: initial;
    -webkit-align-content: initial;
    -ms-align-content: initial;
    align-content: initial;
    -webkit-align-items: initial;
    -ms-align-items: initial;
    align-items: initial;
    > * {
      display: inline-block;
    }
  }
  @else if $col == table {
    display: table;
    table-layout: fixed;
    -webkit-flex-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -webkit-flex-wrap: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    -webkit-justify-content: initial;
    -ms-justify-content: initial;
    justify-content: initial;
    -webkit-align-content: initial;
    -ms-align-content: initial;
    align-content: initial;
    -webkit-align-items: initial;
    -ms-align-items: initial;
    align-items: initial;
    > * {
      display: table-cell;
    }
  }
  @else if $col == flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    table-layout: auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    > * {
      display: inline-block;
    }
  }
  @else {
    > * {
      @if $col == auto {
        width: auto;
      }
      @else {
        width: 100% / $col;
      }
    }
  }
}

@mixin col($col: null, $row: null) {
  @if $col == hidden {
    display: none;
  }
  @else if $col == not-hidden {
    display: inline-block;
  }
  @else {
    width: 100% / $row * $col;
  }
}

@mixin gutter($gutter: null, $outside: null) {
  @if $gutter {
    width: calc(100% + #{$gutter + $gutter});
    margin-left: -$gutter / 2;
    margin-right: -$gutter / 2;
    padding-left: 0;
    padding-right: 0;
    > * {
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;
    }
  }
  @if $outside {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }
}

@mixin align($align: null) {
  @if $align == top {
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    > * {
      vertical-align: top;
    }
  }
  @else if $align == middle {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    > * {
      vertical-align: middle;
    }
  }
  @else if $align == bottom {
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    > * {
      vertical-align: bottom;
    }
  }
  @else if $align == between {
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
  }
  @else if $align == around {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-align-content: space-around;
    align-content: space-around;
  }
  @else if $align == baseline {
    -webkit-align-items: baseline;
    -ms-align-items: baseline;
    align-items: baseline;
  }
  @else if $align == center {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  @else if $align == left {
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
  @else if $align == right {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right;
  }
  @else if $align == first {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  @else if $align == not-first {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
  @else if $align == last {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  @else if $align == not-last {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
  @else if $align == reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  @else if $align == not-reverse {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == lg {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  }
  @else if $breakpoint == sm {
    @media (max-width: 667px) {
      @content;
    }
  }
}
